# Enable mod_rewrite
RewriteEngine On

# Reverse proxy to http://localhost:3008 for the main domain
RewriteCond %{REQUEST_URI} !^/backend
RewriteRule ^(.*)$ http://localhost:3008/$1 [P,L]

# Reverse proxy to http://localhost:3007 for /backend path
RewriteCond %{REQUEST_URI} ^/backend
RewriteRule ^/backend(.*)$ http://localhost:3007/$1 [P,L]

# Allow proxying requests
RewriteCond %{HTTP:X-Forwarded-Proto} https
RequestHeader set X-Forwarded-Proto "https"
RequestHeader set X-Forwarded-For %{REMOTE_ADDR}s